:root {
    --main-bg-color: whitesmoke;
}
/* .MathJax { font-size: 1.5em !important; } */
html {
    font-size: 16px;
    text-size-adjust: 200%;
    -webkit-text-size-adjust: 200%;
}
body {
    /* padding-top: var(--nav-heigh); */
    background-color: var(--main-bg-color);
}
/* footer */
footer p {
    font-size: .9em;
}

